<a href="https://colab.research.google.com/github/unseodongtallulla/jump_to_python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5일차 학습 - p.112 연습문제

문제 1. 홍길동 씨의 과목별 점수(국어:80, 영어:75, 수학:55)이다. 홍길동 씨의 평균 점수를 구해보자.

In [4]:
'국어' = 80
'영어' = 75
'수학' = 55
'평균 점수' = ('국어'+'영어'+'수학')/3
'평균 점수'

SyntaxError: ignored

In [5]:
a = 80
b = 75
c = 55
(a+b+c)/3

70.0

궁금한 점 - '국어'라고 표시한 부분에서 왜 오류가 발생했을까?

문제 2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

해설 : 나머지 연산자를 사용하면 자연수의 홀수, 짝수를 판별할 수 있다.

In [6]:
1 % 2

1

In [7]:
2 % 2

0

In [8]:
3%2

1

In [9]:
4%2

0

In [10]:
13%2

1

식을 만드는 게 아니라 이런 식으로 귀납적으로 찾는다고???

문제 3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.

In [12]:
pin = "881120-1068234"
a = pin[:6]
b = pin[7:]
print(a)
print(b)

881120
1068234

문자열의 슬라이싱 함수 a = 특정값 // b = a[:원하는 부분까지]

문제 4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [13]:
pin = "881120-10682234"
a = pin[7]
print(a)

1

In [14]:
pin = '881120-1068234'
print(pin[7])

1

문자열 인덱싱 하는 법 : a[특정값]

문제 5. 다음과 같은 문자열 a:b:c:d 가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d 로 바꿔서 출력해 보자.

In [15]:
a = "a:b:c:d"
b = a.replace(:,#)
print(b)

SyntaxError: ignored

In [16]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

replace 함수 사용법 : b = a.replace("기존 값", "변경 값")

문제 6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자.

In [17]:
a = [1,3,5,4,2]
b = a.upper[]
print(b)

SyntaxError: ignored

In [18]:
a = [1,3,5,4,2]
a.sort()
a

[1, 2, 3, 4, 5]

In [19]:
a.reverse()
a

[5, 4, 3, 2, 1]

sort 함수를 사용하여 정렬하고 reverse 함수를 사용하여 거꾸로 뒤집는다.
// a = [1,5,2,4,3] // a.sort() // a.reverse()

문제 7. ['Life', 'is', 'too', 'short']리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [20]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

문자열 자료형에서 리스트의 각 값을 파악하고 각 값들의 사이에 집어넣는 함수는 join 함수를 사용한다. // "집어넣을 것".join()

문제 8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [21]:
a = (1,2,3)
a.append(4)
a

AttributeError: ignored

In [25]:
a = (1,2,3)
a = a + (4,)
a

(1, 2, 3, 4)

튜플은 값을 삭제하거나 변경하지 못한다. 새로운 튜플을 만들어 낸다고 생각하면 된다. 근데 a = a + (4,)에서 왜 4,를 하는지 모르겠다?????

문제 9. 다음과 같은 딕서녀리 a가 있다.
a = dict() // a // {} // 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자. 1. a['name']='python' // 2. a[('a',)]='python' // 3. a[[1]]='python' // 4. a[250]='python'

In [26]:
a=dict()
a

{}

In [28]:
a['name']='python'

In [29]:
a

{'name': 'python'}

In [30]:
a[('a'),]='python'

In [31]:
a

{('a',): 'python', 'name': 'python'}

In [32]:
a[[1]]='python'

TypeError: ignored

In [33]:
a[250]='python'

In [34]:
a

{('a',): 'python', 250: 'python', 'name': 'python'}

딕셔너리의 Key로는 변하는(mutable) 값을 사용할 수 없기 때문. 위 예에서 Key로 사용된 [1] 은 리스트이므로 변하는 값이다. 다른 예에서 Key로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 Key로 사용이 가능하다.

문제 10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}

In [36]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
a

{'A': 90, 'C': 70}

In [37]:
result

80

In [39]:
a = {'A':90, 'B':80, 'C':70}

In [40]:
a('B')

TypeError: ignored

In [41]:
a['B']

80

pop 함수를 사용하라고 해설서에서 말하는 이유는 뭘까???? 그냥 B값을 찾고 싶으면 key인 B를 입력해서 출력하면 되는거 아닌가??

문제 11. a리스트에서 중복 숫자를 제거해 보자.
a = [1,1,1,2,2,3,3,3,4,4,5]

In [42]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = aSet
b

{1, 2, 3, 4, 5}

집합 자료형의 특징 - 중복을 허용하지 않는다. 순서가 없다.

In [43]:
a = [1,1,1,2,2,3,3,3,4,4,5]
b = set(a)
b

{1, 2, 3, 4, 5}

집합자료형으로 만드는 방법은 b= set(a) 이런 식으로 하면 된다.(a는 중복된 자료가 있는 집합)

문제 12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b값은 어떻게 될까?

In [44]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

a 와 b 모두 동일한 [1,2,3] 이라는 리스트 객체를 가리키고 있다.

b가 a의 변수 값을 가져오면서 a와는 다른 주소를 가리키도록 하는 방법
// 1. [:] 사용 // 2. copy모듈 사용

5일 차 학습 종료 - p.115까지 문제풀이 완료