<a href="https://colab.research.google.com/github/unseodongtallulla/jump_to_python/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6일차 학습 - 03-1. if문

In [ ]:
money = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

if문의 기본 구조 // if 조건문: 수행할 문장1 //수행할 문장2 /else: // 수행할 문장1 // 수행할 문장2

In [ ]:
x = 3
y = 2
x > y

True

In [ ]:
x < y

False

In [ ]:
x == y

False

깜짝 퀴즈 - 만약 3000원 이상의 돈을 가지고 있으면 택시를 타고 그렇지 않으면 걸어 가라.

In [ ]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

연산자 : 1. x or y // x와 y 둘 중에 하나만 참이어도 참이다. /// 2. x and y // x와 y 모두 참이어야 참이다. /// 3. not x // x가 거짓이면 참이다.

깜짝 퀴즈 : 돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 그렇지 않으면 걸어 가라.

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

in - x in 리스트// x in 튜플 // x in 문자열 /// not in - x not in 리스트 // x not in 튜플 // x not in 문자열

In [ ]:
1 in [1,2,3]

True

In [ ]:
1 not in [1,2,3]

False

In [ ]:
'a' in ('a','b','c')

True

In [ ]:
'j' not in ('a','b','c')

True

깜짝 퀴즈 : 만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어 가라.

In [ ]:
pocket = ['paper','cellphone','money']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

나혼자 코딩 : '주머니에 카드가 없다면 걸어가고, 있다면 버스를 타고 가라'는 문장을 조건문으로 만들어 보자.

In [ ]:
pocket = ['card', 'money', 'cellphone']
if 'card' in pocket:
    print("버스를 타고 가라")
else:
    print("걸어 가라")

버스를 타고 가라

In [ ]:
if 'card' not in pocket:
    print("걸어 가라")
else:
    print("버스를 타고 가라")

버스를 타고 가라

점프투파이썬 - 조건문에서 아무 일도 하지 않게 설정하고 싶다면?
// "주머니에 돈이 있으면 가만히 있고 주머니에 돈이 없으면 카드를 꺼내라."

In [ ]:
pocket = ['paper','money','cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

pocket 리스트 안에 money 문자열이 있기 때문에 if문 다음 문장인 pass가 수행되고 아무 결괏값도 보여 주지 않는다.

다양한 조건을 판단하는 elif // "주머니에 돈이 있으면 택시를 타고, 주머니에 돈은 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어 가라."

조건 1) if와 else만으로 만드는 경우

In [ ]:
pocket = ['paper','cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어 가라")

택시를 타고 가라

elif는 다중조건판단이 가능한 문장이다.

In [ ]:
pocket = ['money','cellphone']
card = True
if 'mnoney' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

elif는 if 조건문 이후로 갯수의 제한 없이 사용할 수 있다. 
// if조건문 -> elif 조건문 (갯수 제한 없음) -> else 조건문

점프투파이썬 : if문을 한 줄로 작성하기

In [ ]:
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

In [ ]:
pocket = ['paper','money','cellphone']
if 'money' in pocket: pass
else: print("카드를 꺼내라")

In [ ]:
score = 80
if score >= 60:
    message = "success"
else:
    message = "failure"

In [ ]:
message = "success" if score >= 60 else "failure"

조건부 표현식 : 조건문이 참인 경우 if 조건문 else 조건문이 거짓인 경우

03-2. while문

'열 번 찍어 안 넘어가는 나무 없다.'를 파이썬 프로그램으로 만들기

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다" % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다.

while문 만들기

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

In [ ]:
number = 0
while number!= 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

SyntaxError: ignored

In [ ]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개 입니다." %coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." %(money - 300))
        coffee = coffee - 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 2000
거스름돈 1700를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

while문의 맨 처음으로 돌아가기

1부터 10까지 숫자 중 홀수만 출력하는 것을 while문으로 만들어 보기

In [ ]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

나혼자 코딩 : 1부터 10까지의 숫자 중에서 3의 배수를 뺀 나머지 값을 출력해 보자.

In [ ]:
a = 0
while a < 10:
    a = a + 1
    if a % 3 == 0: continue
    print(a)

1
2
4
5
7
8
10

무한루프

03-3. for문

for문의 기본 구조
// for 변수 in 리스트(또는 튜플, 문자열) // 수행할 문장1 / 수행할 문장2

1. 전형적인 for문

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

2. 다양한 for문의 사용

In [ ]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

3. for문의 응용

예제 : 총 5명의 학생이 시험을 봤다. 시험점수가 60점을 넘으면 합격, 그렇지 않으면 불합격이다. 합격 또는 불합격 결과를 보여주시오.
점수 : 90, 25, 67, 45, 80

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

for문과 함께 자주 사용하는 range함수

In [ ]:
a = range(10)
a

range(0, 10)

In [ ]:
a = range(1,11)
a

range(1, 11)

In [ ]:
add = 0
for i in range(1,11):
    add = add + i

print(add)

55

In [ ]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

나혼자코딩 : for문과 range함수를 사용하여 1부터 100까지 더해 보자.

In [ ]:
add = 0
for i in range(1,101):
    add = add + i

print(add)

5050

for와 range를 사용한 구구단

In [ ]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print(" ")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

리스트 내포 사용하기

In [ ]:
a = [1,2,3,4]
result = [ ]
for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0]
print(result)

[6, 12]

연습 문제

문제 1. 다음 코드의 결괏값은 무엇일까?

In [1]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

3번째와 4번째 조건문이 참이므로 출력되지만, 3번째가 먼저이므로 shirt 값이 출력된다.

문제 2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보자.

In [2]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

2번 문제는 왜 continue를 쓰지 않는지 모르겠음. 그리고 result+ 와 i +=1 이 부분이 무슨 말인지 모르겠음???????

문제 3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [3]:
i = 0
while True:
    i += 1
    if i > 5: break
    print('*' * i)

*
**
***
****
*****

i += 1 이게 무슨 말이지????

문제 4. for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [7]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

문제 5. A학급에 총 10명의 학생이 있다. 중간고사 점수는 다음과 같다.
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
A학급의 평균점수는?

In [8]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

문제 6.

In [9]:
numbers = [1,2,3,4,5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [10]:
numbers = [1,2,3,4,5]
result = [n*2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

6일차 학습 종료 - p.148까지 학습