<a href="https://colab.research.google.com/github/unseodongtallulla/jump_to_python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4일차 학습 02-4 튜플 자료형

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

1. 튜플 요솟값을 삭제하려 할 때

In [1]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: ignored

2. 튜플 요솟값을 변경하려 할 때

In [2]:
t1 = (1,2,'a','b')
t1[0] = 'c'

TypeError: ignored

튜플형은 변경이나 삭제가 불가능!

튜플 다루기 - 1. 인덱싱하기

In [3]:
t1 = (1,2,'a','b')
t1[0]

1

In [4]:
t1[3]

'b'

튜플 다루기 - 2.슬라이싱하기

In [5]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

튜플 다루기 - 3.튜플 더하기

In [6]:
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

튜플 다루기 -4.튜플 곱하기

In [7]:
t2*3

(3, 4, 3, 4, 3, 4)

튜플 다루기 - 5.튜플 길이 구하기

In [8]:
t1 = (1,2,'a','b')
len(t1)

4

나혼자코딩 (1,2,3)이라는 튜플에 값 4를 추가하여 (1,2,3,4)를 출력해보자.

In [11]:
t1 = (1,2,3)
t1 + (4,)

(1, 2, 3, 4)

02-5 딕셔너리 자료형

In [12]:
dic = {'name':'pey', 'phone':'01199993323', 'birth':'1118'}

In [ ]:
a = {1:'hi'}
a = {'a':[1,2,3]}

딕셔너리 쌍 추가, 삭제하기 - 1.딕셔너리 쌍 추가하기

In [13]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [14]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [15]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'pey'}

딕셔너리 쌍 추가, 삭제하기 -2.딕셔너리 요소 삭제하기

In [16]:
del a[1]
a

{2: 'b', 3: [1, 2, 3], 'name': 'pey'}

딕셔너리에서 Key 사용해 Value 얻기

In [17]:
grade = {'pey':10, 'julliet':99}
grade['pey']

10

In [18]:
grade['julliet']

99

In [19]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [20]:
a[2]

'b'

딕셔너리는 리스트나 튜플에 있는 인덱싱 방법을 적용할 수 없다!

In [21]:
a = {'a':1, 'b':2}
a['a']

1

In [22]:
a['b']

2

In [24]:
dic = {'name':'pey', 'phone':'01199993323', 'birth':'1118'}
dic['name']

'pey'

딕셔너리 만들 때 주의사항 
// 딕셔너리의 key는 고유한 값이므로 중복되면 나머지 것들이 모두 무시됨

In [25]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

딕셔너리 만들 때 주의사항
// Key에 리스트는 쓸 수 없다. 그러나 튜플은 Key로 쓸 수 있다.

In [26]:
a ={[1,2]:'hi'}

TypeError: ignored

딕셔너리 관련 함수 - Key 리스트 만들기

In [27]:
a = {'name':'pey', 'phone':'01199993323', 'birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

dict_keys 객체는 리스트를 사용하는 것과 차이가 없지만, 리스트 고유의 append, insert, pop, remove, sort 함수는 수행할 수 없다.

In [30]:
for k in a.keys():
    print(k)

name
phone
birth

In [31]:
list(a.keys())

['name', 'phone', 'birth']

딕셔너리 관련 함수 - Value 리스트 만들기

In [32]:
a.values()

dict_values(['pey', '01199993323', '1118'])

딕셔너리 관련 함수 - key, value 쌍 얻기

In [33]:
a.items()

dict_items([('name', 'pey'), ('phone', '01199993323'), ('birth', '1118')])

딕셔너리 관련 함수 - Key:Value 쌍 모두 지우기

In [35]:
a.clear()
a

{}

딕셔너리 관련 함수 - Key로 Value 얻기

In [36]:
a = {'name':'pey', 'phone':'01199993323','birth':'1118'}
a.get('name')

'pey'

In [37]:
a.get('phone')

'01199993323'

In [39]:
a['name']

'pey'

In [40]:
print(a.get('nokey'))

None

딕셔너리 안에 찾으려는 Key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때에는 get(x,'디폴트 값')을 사용하면 편리하다.

In [41]:
a.get('foo', 'bar')

'bar'

딕셔너리 관련 함수 - 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [42]:
a = {'name':'pey', 'phone':'01199993323', 'birth':'1118'}
'name' in a

True

In [43]:
'email' in a

False

나혼자코딩 다음표를 딕셔너리로 만드시오.

In [45]:
dic = {'name':'홍길동', 'birth':'1128', 'age':30}