<a href="https://colab.research.google.com/github/unseodongtallulla/jump_to_python/blob/main/%EC%A0%90%ED%94%84%ED%88%AC%ED%8C%8C%EC%9D%B4%EC%8D%AC(04-1%20%ED%95%A8%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

점프투파이썬 - 4장 프로그램의 입력과 출력

04-1. 함수

파이썬 함수의 구조

In [4]:
def add(a, b):
    return a + b

위 함수의 이름(함수 이름)은 add이고 입력으로 2개의 값이 있고, 결괏값은 2개의 입력값을 더한 값이다.
// def 함수이름(매개변수): / 수행할 문장1 / 수행할 문장2 ......

In [5]:
 a = 3
 b = 4
 c = add(a, b)
 print(c)

7

일반적인 함수

In [6]:
def add(a, b):
    result = a + b
    return result

a = add(3,4)
print(a)

7

입력값이 없는 함수

In [8]:
def say():
    return "Hi"
  
a = say()
print(a)

Hi

결괏값이 없는 함수

In [9]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." %(a, b, a+b))

add(3,4)

3, 4의 합은 7입니다.

In [10]:
a = add(3,4)

3, 4의 합은 7입니다.

In [11]:
print(a)

None

매개변수 지정하여 호출하기

In [12]:
def add(a, b):
    return a + b

result = add(a=3, b=7)
print(result)

10

여러 개의 입력값을 받는 함수 만들기

In [13]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

result = add_many(1,2,3)
print(result)

6

In [16]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [17]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [18]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [19]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

키워드 파라미터

In [20]:
def print_kwargs(**kwargs):
    print(kwargs)

In [21]:
print_kwargs(a=1)

{'a': 1}

In [22]:
print_kwargs(name = 'foo', age = 3)

{'name': 'foo', 'age': 3}

함수의 결괏값은 언제나 하나이다

In [23]:
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)

In [24]:
print(result)

(7, 12)

return의 또 다른 쓰임새

In [25]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s입니다." % nick)

say_nick("야호")

나의 별명은 야호입니다.

In [26]:
say_nick("야호")
say_nick("바보")

나의 별명은 야호입니다.

매개변수에 초깃값 미리 설정하기

In [27]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다." %name)
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [29]:
say_myself("정원영", 34, True)

나의 이름은 정원영입니다.
나이는 34살입니다.
남자입니다.

함수 안에서 선언한 변수의 효력 범위

In [30]:
a = 1
def vartest(a):
    a = a + 1

vartest(a)
print(a)

1

함수 안에서 함수 밖의 변수를 변경하는 방법
// 1. return 사용하기

In [31]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

함수 안에서 함수 밖의 변수를 변경하는 방법
// 2. global 명령어 사용하기

In [32]:
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

lambda 함수

In [33]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7